@media only screen and (max-width: 768px) {
  .nur {
    width: 650px;
  }
  .tab {
    display: grid;
  }
  .tab2 {
    display: flex;
    align-items: baseline;
  }
  .x {
    display: none;
  }
  .a {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .s {
    text-align: center;
    width: 600px;
    margin: 0px auto;
  }
  .m {
    width: 500px;
  }
}
@media only screen and (max-width: 640px) {
  .nur {
    width: 300px;
  }
  .text1 {
    font-size: 40px;
    width: 370px;
    margin: 0px auto;
  }
  .text2 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .a,
  .s {
    text-align: center;
  }
  .v {
    margin-top: 20px;
  }
  .n,
  .m {
    width: 350px;
  }
  .f {
    width: 250px;
    margin: 30px auto;
  }
  .j {
    margin-top: 20px;
  }
  .s {
    width: 300px;
  }
}
